.deviceDetailContainer {
  display: flex;
  flex-direction: column;
  width: 698px;
  padding: 2px 2px 6px;
  background-color: #fff;
}

.deviceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 6px;
  margin-left: 8px;
}

.deviceInfoSection {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.deviceInfoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deviceInfoRow:nth-child(1) {
  align-self: flex-start;
}

.deviceLabel {
  white-space: nowrap;
  color: #484848;
  font-size: 6px;
}

.deviceValueBox {
  margin-left: 2px;
  padding: 2px 5px;
  border: solid 1px #eeeff7;
  border-radius: 6px;
  background-color: #e0ebfe;
}

.deviceValue {
  white-space: nowrap;
  color: #000008;
  font-size: 6px;
}

.deviceTab {
  white-space: nowrap;
  font-size: 6px;
}

.deviceTab:nth-child(1) {
  color: #9c9ea0;
}

.deviceTab:nth-child(2) {
  margin-left: 12px;
  color: #9c9ea0;
}

.deviceTab:nth-child(3) {
  margin-left: 12px;
  color: #9fa0a9;
}

.deviceTab:nth-child(4) {
  margin-left: 10px;
  color: #9c9ea0;
}

.deviceTab:nth-child(5) {
  margin-left: 10px;
  color: #9fa1a0;
}

.deviceTab:nth-child(6) {
  margin-left: 12px;
  color: #6993ce;
}

.deviceTab:nth-child(7) {
  margin-left: 10px;
  color: #9d9fa1;
}

.deviceTab:nth-child(8) {
  margin-left: 10px;
  color: #959799;
}

.deviceTab:nth-child(9) {
  margin-left: 8px;
  color: #9c9ea0;
}

.deviceTab:nth-child(10) {
  margin-left: 12px;
  color: #9fa1a0;
}

.deviceTab:nth-child(11) {
  margin-left: 12px;
  color: #9fa0a9;
}

.deviceTab:nth-child(12) {
  margin-left: 12px;
  color: #9fa0a9;
}

.deviceInfoRow:nth-child(2) {
  margin-top: 8px;
}

.backSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-top: 2px;
}

.backIcon {
  flex-shrink: 0;
  width: 6px;
  height: 5px;
  border-radius: 2px;
}

.backText {
  margin-left: 2px;
  white-space: nowrap;
  color: #c3c7ca;
  font-size: 6px;
}

.searchInput {
  width: 686px;
  margin-top: 12px;
  margin-left: 2px;
  border-radius: 10px;
}

.basicRuleLink {
  white-space: nowrap;
  color: #779fe2;
  font-size: 6px;
}

.contentSection {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.tableContainer {
  position: relative;
  min-width: 696px;
  min-height: 172px;
}

.alarmTable {
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.tableHeaderRow {
  display: flex;
  flex-direction: row;
}

.tableHeaderRow:nth-child(1) {
  align-items: center;
}

.thresholdRow {
  display: flex;
  flex-direction: row;
}

.thresholdRow:nth-child(1) {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 26px;
}

.pointNameHeader {
  align-self: center;
  white-space: nowrap;
  color: #9fa0a9;
  font-size: 6px;
}

.thresholdLabel {
  white-space: nowrap;
  font-size: 6px;
}

.thresholdLabel:nth-child(1) {
  align-self: flex-start;
  color: #8b8d96;
}

.thresholdLabel:nth-child(2) {
  align-self: flex-end;
  margin-left: 10px;
  color: #858890;
}

.thresholdLabel:nth-child(3) {
  align-self: flex-end;
  margin-left: 66px;
  color: #7f828a;
}

.thresholdLabel:nth-child(4) {
  align-self: flex-end;
  margin-left: 50px;
  color: #6b6e76;
}

.thresholdSeparator {
  flex-shrink: 0;
  align-self: flex-end;
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  margin-left: 10px;
  border-radius: 2px;
}

.thresholdLabel:nth-child(5) {
  align-self: flex-start;
  margin-left: 20px;
  color: #73777f;
}

.thresholdLabel:nth-child(6) {
  align-self: flex-end;
  margin-left: 16px;
  color: #8b8d96;
}

.thresholdLabel:nth-child(7) {
  align-self: flex-end;
  margin-left: 66px;
  color: #858890;
}

.thresholdLabel:nth-child(8) {
  align-self: flex-end;
  margin-left: 46px;
  color: #6b6e76;
}

.thresholdRow:nth-child(2) {
  margin-left: 128px;
}

.pointName {
  align-self: center;
  white-space: nowrap;
  font-size: 6px;
}

.alarmSwitch {
  align-self: flex-start;
  margin-left: 212px;
}

.lowThresholdValue {
  align-self: flex-end;
  margin-left: 30px;
  white-space: nowrap;
  color: #cbcdd1;
  font-size: 9px;
}

.lowThresholdActions {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 72px;
}

.lowThresholdInvertText {
  margin-top: 8px;
  margin-left: 2px;
  color: #cbcdd1;
  font-size: 6px;
}

.highThresholdValue {
  align-self: flex-end;
  margin-bottom: 2px;
  margin-left: 64px;
  white-space: nowrap;
  color: #c5c7cb;
  font-size: 6px;
}

.highThresholdSwitch {
  align-self: flex-start;
  margin-left: 22px;
}

.highHighThresholdValue {
  align-self: flex-end;
  margin-bottom: 2px;
  margin-left: 25px;
  white-space: nowrap;
  color: #c7cace;
  font-size: 6px;
}

.highThresholdActions {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 64px;
}

.highThresholdInvertText {
  margin-top: 8px;
  margin-left: 2px;
  color: #c9ccd2;
  font-size: 6px;
}

.tableExpandIcon {
  position: absolute;
  right: 0;
  bottom: 64px;
  flex-shrink: 0;
  width: 20px;
  height: 22px;
  border-radius: 3px;
}

.remarksTextarea {
  margin-top: 2px;
  margin-right: 12px;
  margin-left: 8px;
  border: solid 1px #ebeef4;
}
